$default-font-stack: Roboto, Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;

body, html {
  font-family: $default-font-stack;
  margin: 0;
  padding: 0;
}
